{% extends 'base.html.twig' %}

{% block title %}<h1>
    Administrador de Clientes /
    <small>Listado de Clientes</small>
</h1>{% endblock %}
{% block body %}

<div class="card text-white col-lg-12" style="padding: 0px">
    <div class="card-header bg-primary">
        Administrador de Clientes
        <div class="pull-right">
            <a href="{{ path('createclient') }}" type="button" class="btn btn-sm btn-primary"><i class="fa fa-users"></i> Nuevo Cliente</a>
        </div>
    </div>
    <div class="card-body text-black">
        <div class="form-group col-md-4" style="margin-bottom: 35px;">
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="200" id="serach_value" name="serach_value" placeholder="Buscar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary btn_serarch_value" type="button">BUSCAR</button>
                    <button class="btn btn-danger btn_cancel_search" type="button">CANCELAR</button>
                </div>
            </div>
        </div>
        <table id="table-list-clients" class="table">
            <thead>
                <tr>
                    <th class='text-center'>NOMBRE</th>
                    <th class='text-center'>APELLIDO</th>
                    <th class='text-center'>EMAIL</th>
                    <th class='text-center'>GRUPOS</th>
                    <th class='text-center'>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {# {% for client in clients %}
                    <tr data-ident="{{ client.id }}">
                        {% set clientName = client.firstname~' '~client.lastname %}
                        <td class='text-center'>{{ client.firstname|default('') }}</td>
                        <td class='text-center'>{{ client.lastname|default('') }}</td>
                        <td class='text-center'>{{ client.email|default('') }}</td>
                        <td class='text-center'>{{ client.clientg|default('') }}</td>
                        <td class='text-center'>
                            <a href="{{ path('showclient', {id:client.id}) }}" class="btn btn-sm btn-default btn-show"><i class="fa fa-eye"></i></a> 
                            <a href="{{ path('editclient', {id:client.id}) }}" class="btn btn-sm btn-success btn-edit"><i class="fa fa-edit"></i></a> 
                            <a class="btn btn-sm btn-danger btn-remove" data-ident="{{ client.id }}" data-name="{{ clientName }}"><i class="fa fa-times"></i></a> 
                        </td>
                    </tr>
                {% endfor %} #}
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal-confirm-accion-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleConfirm">Eliminación de Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="textConfirm">¿Esta realmente seguro que desea eliminar al Cliente?</h5>
                <input type="hidden" id="identificateDeleted">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="textButtonConfirm" class="btn btn-primary btn-acept-remove-client">Si, Eliminar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        var urlToEdit = '/panel/edit';
        var urlToShow= '/panel/show';
        $(document).ready(function () {
            initData();
        });

        $(document).on("click", ".btn-remove", function () {
            var ident = $(this).data('ident');
            $("#identificateDeleted").val(ident);
            var clientName = $(this).data('name');
            $("#modal-confirm-accion-client #textConfirm").html(`¿Esta realmente seguro que desea eliminar al Cliente <b>${clientName}</b>?`);
            $("#modal-confirm-accion-client").modal();
        });

        $("#textButtonConfirm").click(function () {
            showChargePageLoad(true);
            var ident = $("#identificateDeleted").val();
            $.ajax({
                url : '{{ path('deletedclient') }}',
                data : { ident : ident },
                type : 'POST',
                success : function(json) {
                    if (json.state == "success") {
                        $("#modal-confirm-accion-client").modal('hide');
                        $(`[data-ident='${ident}'`).remove();
                        toast.success(json.message ?? 'Cliente eliminado correctamente', 'Exito!');
                    }
                },
                error : function(xhr, status) {
                    toastr.error('Disculpe las molestias, existió un problema', 'Error!');
                },
                complete : function(xhr, status) {
                    showChargePageLoad();
                }
            });
        });

        function initDataTable() {
            $('#table-list-clients').DataTable({
                "language": getLenguajeByDataTable({
                    "name": "Clientes"
                })
            });
        }

        function initData() {
            showChargePageLoad(true);
            $.ajax({
                url : '{{ path('searchClient') }}',
                data : { search : $("#serach_value").val() },
                type : 'POST',
                success : function(json) {
                    console.log(json);
                    var HTML = "";
                    $.each(json.data, function(i, row) {
                        var fullname = row.firstname + " " + row.lastname;
                        HTML += `<tr>
                                    <td class='text-center'>${row.firstname}</td>
                                    <td class='text-center'>${row.lastname}</td>
                                    <td class='text-center'>${row.email}</td>
                                    <td class='text-center'>${row.clientg}</td>
                                    <td class='text-center'>
                                        <a href="${urlToShow}/${row.id}" class="btn btn-sm btn-default btn-show"><i class="fa fa-eye"></i></a> 
                                        <a href="${urlToEdit}/${row.id}" class="btn btn-sm btn-success btn-edit"><i class="fa fa-edit"></i></a> 
                                        <a class="btn btn-sm btn-danger btn-remove" data-ident="${row.id}" data-name="${fullname}"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>`;
                    });
                    if (HTML !== "" && $.fn.DataTable.isDataTable('#table-list-clients')) {
                        $('#table-list-clients').DataTable().destroy();
                    }
                    $('#table-list-clients tbody').html(HTML);

                    showChargePageLoad();
                    initDataTable();
                },
                error : function(xhr, status) {
                    alert('Disculpe, existió un problema');
                },
                complete : function(xhr, status) {
                }
            });
        }

        $(document).on("click", ".btn_serarch_value", function () {
            initData();
        });

        $(document).on("click", ".btn_cancel_search", function () {
            $("#serach_value").val("");
            initData();
        });
    </script>
{% endblock %}