{% extends 'base.html.twig' %}

{% block title %}<h1>
    Administrador de Clientes /
    <small>Listado de Clientes</small>
</h1>{% endblock %}
{% block body %}

<div class="card text-white col-lg-12" style="padding: 0px">
    <div class="card-header bg-primary">
        Datos de Cliente
        <div class="pull-right">
            <a href="{{ path('client') }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Todos los Clientes</a>
        </div>
    </div>
    <div class="card-body text-black">
        <h5 class="card-title">Datos Ingresados</h5>
        <br>
        <form id="saveClient" action="{{ path('saveclient') }}" method="POST">
            <input type="hidden" id="ident" name="ident" value="{{ client.id|default('') }}" />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="first_name">Nombre</label>
                    <p class="form-control">{{ client.firstname|default('') }}</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="lastname">Apellido</label>
                    <p class="form-control">{{ client.lastname|default('') }}</p>
                </div>
                <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <p class="form-control">{{ client.email|default('') }}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="description">Observaciones</label>
                    <p class="form-control" style="height: 90px;">{{ client.description|default('') }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="gclient">Grupo de Cliente</label>
                    {% for groupId, groupName in groups %}
                        {% set isSelect = groupId in client.selectGroup|default([]) ? 'checked' %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" {{ isSelect }} onclick="return false;">
                            <label class="form-check-label" for="gclient{{ groupId }}">
                                {{ groupName }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer bg-primary">
        <div class="pull-right">
            {% set clientName = client.firstname~' '~client.lastname %}
            <a type="button" class="btn btn-sm btn-danger btn-remove" data-name="{{ clientName }}"><i class="fa fa-times"></i> Eliminar Cliente</a>
            <a href="{{ path('editclient', {id: client.id}) }}" type="button" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Editar Cliente</a>
            <a href="{{ path('client') }}" type="button" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Todos los Cliente</a>
        </div>
    </div>
</div>

<div class="modal" id="modal-confirm-accion-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleConfirm">Eliminación de Cliente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="textConfirm">¿Esta realmente seguro que desea eliminar al Cliente?</h5>
                <input type="hidden" id="identificateDeleted" value="{{ client.id }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="textButtonConfirm" class="btn btn-primary btn-acept-remove-client">Si, Eliminar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).on("click", ".btn-remove", function () {
        var clientName = $(this).data('name');
        $("#modal-confirm-accion-client #textConfirm").html(`¿Esta realmente seguro que desea eliminar al Cliente <b>${clientName}</b>?`);
        $("#modal-confirm-accion-client").modal();
    });

    $("#textButtonConfirm").click(function () {
        showChargePageLoad(true);
        var ident = $("#identificateDeleted").val();
        $.ajax({
            url : '{{ path('deletedclient') }}',
            data : { ident : ident },
            type : 'POST',
            success : function(json) {
                if (json.state == "success") {
                    $("#modal-confirm-accion-client").modal('hide');
                    $(`[data-ident='${ident}'`).remove();
                    toastr.success(json.message ?? 'Cliente eliminado correctamente', 'Exito!');
                    setTimeout(function () {
                        window.location.replace('{{ path('client') }}');
                    }, 5000);
                }
                if(json.state == 'error') {
                    showChargePageLoad();
                    toastr.error(json.message ?? 'Disculpe las molestias, existió un problema', 'Error!');
                }
            },
            error : function(xhr, status) {
                showChargePageLoad();
                toastr.error('Disculpe las molestias, existió un problema', 'Error!');
            }
        });
    });
</script>
{% endblock %}